.filtre label, .filtre input {
    /* width: 1rem; */
    margin: 0;
    display: inline-block;
}
.landin-page-filter fieldset {
    margin: 1rem;
    color: white;
    display: flex ;
    justify-content: space-between;
    flex-direction: row;
}
.landin-page-filter {
    z-index: 6;
    width: 12rem;
    background-color: rgba(1, 1, 65, 0.876);
    padding: 1rem;
    padding-right: 0;
    position: fixed;
    left: -10.7rem;
    top: 17rem;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: left 0.5s;
}


.filtre {
    width: 15rem;
}

.open-filter {
    left: 0;
}

.showFilter {
    font-size: 1.3rem;
    letter-spacing: 8px;
    font-weight: bold;
    color: white;
    /* height: 10rem; */
    background-color: rgba(1, 1, 65, 0.966);
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-style: italic;
}
.showFilter:hover, .showFilter:focus {
    color: #00d4ff;
}
@media screen and (min-width: 1100px){

    .landin-page-filter fieldset {
       
        display: flex;
        color: white;
    }
    .landin-page-filter {
        padding: 0;
        width: 8rem;
        height: 25rem;
        background-color: rgba(1, 1, 65, 0.89);
        position: sticky;
        /* left: 0; */
        top: 5rem;
        /* border-bottom-right-radius: 0;
        border-top-right-radius: 0; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 1rem 1rem 1rem 0;
        padding-left: 0.5rem;
    }

    .showFilter {
        display: none;
    }

}
