.landin-page {
    margin-top: 4.1rem;
}

.landin-page h3 {
    color: white;
}

.landin-page-bg {
    
    background-image: url('../../images/background.jpg');
    background-size:cover;
    height: 12rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.select {
    margin-bottom: 2rem;
}
.landin-page-bg input {
    margin-bottom: 0.5rem;
    border-radius: 2rem;
}

.landin-page-sections {
    margin: 3rem 0 3rem 0;
}


@media screen and (min-width: 800px) and (max-width: 1100px){

    .landin-page-bg {
        height: 22rem;
    }
    .landin-page-bg input {
        margin-bottom: 2rem;
        width: 15rem;
    }
    .landin-page-sections {
        width: 48rem;
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        box-shadow: 0 5px 8px 0 grey;
        margin : 3rem auto;
    }
    .landin-page-houses {
       display: flex;
       flex-wrap: wrap;
       width: 45rem;
       margin: auto;
       /* justify-content: center; */
    }
    
}
@media screen and (min-width: 1100px){
    .landin-page-bg {
        height: 15rem;
    }
    .landin-page-bg input {
        margin-bottom: 2rem;
        width: 15rem;
    }
    .landin-page-sections {
        display: flex;
        justify-content: space-between;
        width: 67rem;
        margin: 3rem auto;
        padding: 1rem;
        box-shadow: 0 5px 8px 0 grey;
    }
    .landin-page-houses {
       display: flex;
       flex-wrap: wrap;
       width: 65rem;
       margin: auto;
       /* justify-content: center; */
    }
    
}

@media screen and (min-width : 1500px){

     .landin-page-sections {
        display: flex;
        justify-content: space-between;
        width: 85rem;
        margin: 3rem auto;
        padding: 1rem;
        box-shadow: 0 5px 8px 0 grey;
    }
    .landin-page-houses {
       display: flex;
       flex-wrap: wrap;
       width: 70rem;
       margin: auto;
       /* justify-content: center; */
    }

}




