.myprofile img {
    display: block;
    width: 14rem;
    margin: 1rem 0.5rem;
}
.myprofile  {
    width: 90%;
    margin: 2rem auto;
}
.myprofile article {
    margin: 2rem auto;
    box-shadow: 0 5px 8px 0 grey;
    padding: 0.5rem;
}
.myprofile p {
    margin: 0.5rem auto;  
}
.myprofile span {
    font-weight: 800;
    margin-right: 0.5rem;
}
.myprofile li {
    margin: 0.5rem auto;
}
.myprofile button {
    display: block;
    width: 5rem;
    margin: 1rem auto;
}
.whishlist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.4s;
}
.whishlist button {
   height: 2rem;
   margin: 0;
   margin-left: 0.5rem;
}
.whishlist p {
   margin: 0.5rem 0;
}
.whishlists a {
    color: black;
}
.whishlists a:hover {
	color: grey;
}
.displayWish {
    display: none;
}

.alert-enter {
  opacity: 0;
}
.alert-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.deleteAccount {
    width: 10rem !important;
    padding: 0.5rem;
   
}
.deleteAccount:hover {
    background-color: red;
}


/* .myprofile textarea {
    display: block;
} */
/* .houseInformations-toModify form{
    width: 15rem;
    margin: auto;
} */
.houseInformations-toModify fieldset{
    display: flex;
    
    margin: 0.5rem 0;
}
/* .button-modify {
    display: block;
    width: 5rem;
    margin: 1rem auto;
} */

@media screen and (min-width: 800px){
    .myprofile {
        box-shadow: 0 5px 8px 0 grey;
        width: 35rem;
    }
    .myprofile article {
        width: 30rem;
        margin: 2rem auto;
        padding: 1rem;
    }
    .myprofile div {
        margin: 2rem auto;
    }
    .houseInformations-images {
        display: flex ;
        flex-wrap: wrap;
    }
}
@media screen and (min-width: 1100px){
    .myprofile {
        display: flex;
        justify-content: space-between;
        width: 70rem;
        margin: 3rem auto;
        padding: 1rem;
        box-shadow: 0 5px 8px 0 grey;
    }
    .myprofile article {
        width: 30rem;
        margin: 2rem auto;
        padding: 1rem;
    }
    .myprofile div {
        margin: 2rem auto;
    }
}


/* .personalInformations */