.landin-page h3 {
    color: white;
}

.landin-page-bg {
    background-image: url('../../images/background.jpg');
    background-size: cover;
    height: 7rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.landin-page-bg input {
    margin-bottom: 0.5rem;
    border-radius: 2rem;
}
fieldset label, fieldset input {
    width: 1rem;
}
.landin-page-filter fieldset {
    margin: 1rem;
    display: flex;
    color: white;
}
.landin-page-filter {
    width: 8rem;
    background-color: rgba(1, 1, 65, 0.685);
    padding: 1rem;
    position: fixed;
    left: -8rem;
    top: 10.5rem;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
}


