.header {
    background-color: #090979;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    z-index: 100;
    transition: opacity 2.5s ;
    height: 4.1rem;

}

header a {
  color: white;
}
.header:hover {
  background-color: #090979 !important;
}
.header h1 {
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 0%, #00d4ff 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: oblique;
    text-align: center;
    font-size: 2rem;
    margin: 0.5rem;
}
.burger-menu {
    margin: 0.5rem;
}
.burger1, .burger2, .burger3  {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}
.change.burger1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.change.burger2 {
  opacity: 0;
}
.change.burger3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
.scroll {
  opacity: 0.5;
  transition: opacity 3s;
}
.navbar {
    position: fixed;
    top : 4.1rem;
    background-color: #090979;
    right: -8rem;
    width: 8rem;
    transition: right 0.5s;
}

.navbar-ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: opacity 2.5s ;
  /* margin-bottom: 0; */
  /* width: 50rem; */
}

.navbar.nav-open {
  right: 0;
}
.navbar li {
    text-align: left;
    margin: 1rem 0 0 1rem;
    color: white;
    transition: 0.4s;
}
.navbar li:hover{
  transform: scale(1.2);
}

@media screen and (min-width: 800px){
    .header h1 {
     margin-left: 2rem;
    }
    .burger-menu {
        display: none;
    }
    .navbar {
      position: relative;
      width: 25rem;
      margin-right: 2rem;
      top : 0;
      right: 0;
      transition: none;
      background-color: transparent;
    }
    .navbar-ul {
      display: flex;
      flex-direction: row;
      /* justify-content: space-between; */
      transition: opacity opacity 2.5s ;
    }
}
